@model PetsUserViewModel
@{
    ViewData["Title"] = "Index";
}


<div>

    <h1 class="welcomeuser">Edit Profile</h1>
    <div class="user-info">
        <p class="user-username">Email: <strong>@Model.User.Username</strong></p>
        <p class="user-username">First Name: <strong>@Model.User.FirstName</strong> Last Name: <strong>@Model.User.LastName</strong></p>

        <a asp-controller="Account" asp-action="ChangePassword" class="change-pass-button">Change Password</a>
        <a asp-controller="Account" asp-action="ChangeEmail" class="change-email-button">Change Email</a>
        <a asp-controller="Account" asp-action="ChangeName" class="change-name-button">Change First Name and/or Last Name</a>
    </div>

    <h1 class="yourPets"> Your Pets:<a href="/Account/RegisterPet" class="add-button">Add Pet</a></h1>

    <div class="all">
        <div class="container">
            <div class="row">

                @foreach (Pets pet in Model.Pets)
                {
                    <div class="col-sm-3" style="padding-left: 50px">
                        <div class="card">
                            <div class="userhomebanner">
                                <div class="userhomeavatar" style="background-image: url(@pet.Photo)"></div>
                            </div>
                            <h3 class="userhomepetname">@pet.Name</h3>
                            <a class="userhomepetinfo"> Age: @pet.Age</a>
                            <a class="userhomepetinfo"> Weight: @pet.Weight</a>
                            <a class="userhomepetinfo"> Type: @pet.Type</a>
                            <a class="userhomepetinfo"> Breed: @pet.Breed</a>
                            <a class="userhomepetinfo"> personality: @pet.Personality</a>

                            <ul class="userhomepetrating">
                                button for whatever
                            </ul>
                        </div>
                        <br />
                    </div>
                     <a asp-controller="Account" asp-action="DeletePet" asp-route-id="@pet.Id" method="get" class="delete-button">Delete Pet</a>
                    <a asp-controller="Account" asp-action="UpdatePet" asp-route-id="@pet.Id" method="get" class="update-pet-button">Update Pet Info</a>
                }
                <!--<a class="choosePet">Edit?</a>-->
            </div>
        </div>

    </div>
</div>