@model PetsUserViewModel
@{
    ViewData["Title"] = "Index";
}


<div>

    <h1 class="welcomeuser">WELCOME @Model.User.Username! </h1>
    <p class="description">
        is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took
        a galley of type and scrambled it to make a type specimen book.
    </p>
    <h1 class="yourPets"> Your Pets:<a href="/Account/RegisterPet" class="add-button">Add Pet</a></h1>

    <div class="allPets">
        <div class="card">

            @foreach (Pets pet in Model.Pets)
            {
                <img class="imgForPet" src="@pet.Photo" />
                <p class="petName">@pet.Name <span class="plan-unit">@pet.Type</span></p>
                <ul class="features">
                    <li class="feature">
                        <span class="feature-name">Age:</span>
                        <span class="feature-name">@pet.Age</span>
                    </li>
                    <li class="feature"><span class="feature-name"><span class="feature-name">Weight:</span></span> <span class="feature-name">@pet.Weight lbs</span></li>
                    <li class="feature"><span class="feature-name">Type:</span> <span class="feature-name">@pet.Type</span></li>
                    <li class="feature"><span class="feature-name">Personality:</span> <span class="feature-name">@pet.Personality</span></li>
                </ul>
            }
            <!--<a class="choosePet">Edit?</a>-->
        </div>
    </div>

</div>
