@model PetsUserViewModel
@{
    ViewData["Title"] = "Index";
}


<div>

    <h1 class="welcomeuser">Edit Profile</h1>
    <div class="user-info">
        <p class="user-username">Email: @Model.User.Username</p>
        <p class="user-name">First Name: @Model.User.FirstName Last Name: @Model.User.LastName</p>

        <a asp-controller="Account" asp-action="ChangePassword" class="change-pass-button">Change Password</a>
        <a asp-controller="Account" asp-action="ChangeEmail" class="change-email-button">Change Email</a>
    </div>

    <h1 class="yourPets"> Your Pets:<a href="/Account/RegisterPet" class="add-button">Add Pet</a></h1>

    <div class="allPets">
        <div class="card">

            @foreach (Pets pet in Model.Pets)
            {
                <img class="imgForPet" src="@pet.Photo" />
                <p class="petName">@pet.Name <span class="plan-unit">@pet.Type</span></p>
                <ul class="features">
                    <li>
                        <span class="feature-name">Age:</span> <span class="feature-name">@pet.Age</span>
                    </li>
                    <li><span class="feature-name"><span class="feature-name">Weight:</span></span> <span class="feature-name">@pet.Weight lbs</span></li>
                    <li><span class="feature-name">Type:</span> <span class="feature-name">@pet.Type</span></li>
                    <li><span class="feature-name">Personality:</span> <span class="feature-name">@pet.Personality</span></li>
                </ul>
            }
            <!--<a class="choosePet">Edit?</a>-->
        </div>
    </div>

</div>
