@model ReservationUserViewModel
@{
    ViewData["Title"] = "Reservation";
}

<h2>Reservation</h2>


    @*<div >

        @foreach (Reservation reservation in Model.Reservations)
        {
            <img class="imgForPet" src="@pet.Photo" />
            <p class="petName">@pet.Name <span class="plan-unit">@pet.Type</span></p>
            <ul class="features">
                <li class="feature">
                    <span class="feature-name">Age:</span>
                    <span class="feature-name">@pet.Age</span>
                </li>
                <li class="feature"><span class="feature-name"><span class="feature-name">Weight:</span></span> <span class="feature-name">@pet.Weight lbs</span></li>
                <li class="feature"><span class="feature-name">Type:</span> <span class="feature-name">@pet.Type</span></li>
                <li class="feature"><span class="feature-name">Personality:</span> <span class="feature-name">@pet.Personality</span></li>
            </ul>
        }

    </div>*@