@model ReservationUserViewModel
@{
    ViewData["Title"] = "UserHome";
}

@*Somehow build something that shows the users pending invites for now*@




<h1 class="welcomeback">Welcome Back **PERSONS NAME**</h1>
<h3 class="titleforpets">Your Pets:</h3>

<div>
    @foreach (Reservation pending in Model.Pending)
    {
        /*Send them to the "details" page of this playdate so they can either accept or decline it....*/
        <p>Pending: <a asp-action="PendingReservation" asp-controller="Reservation" asp-route-id="@pending.ReservationId"> @pending.Description</a></p>
    }


</div>


<div>

    @foreach (Reservation accepted in Model.Accepted)
    {
        <p>Accepted: <a asp-action="AcceptedReservation" asp-controller="Reservation" asp-route-id="@accepted.ReservationId">@accepted.Description</a></p>
    }

</div>

@foreach (Pets pet in Model.Pets)
{
    <div class="petinfo">
        
        <img class="userimgforpet" src="@pet.Photo" />
       <h2 class="usertitleforpets">@pet.Name</h2>
        

    </div>
}
