<<<<<<< HEAD
﻿
@{
    ViewData["Title"] = "LoggedInUserHome";
}

<h2>LoggedInUserHome</h2>

<div class="calendar">

    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" <!--media="print"--> />

    @section Scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
        <script>
            $(document).ready(function () {
                var events = [];
                $.ajax({
                    type: "GET",
                    url: "/home/GetEvents",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                title: v.Subject,
                                description: v.Description,
                                start: moment(v.Start),
                                end: v.End != null ? moment(v.End) : null,
                                color: v.ThemeColor,
                                allDay: v.IsFullDay
                            });
                        })

                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })

                function GenerateCalender(events) {
                    $('#calender').fullCalendar('destroy');
                    $('#calender').fullCalendar({
                        contentHeight: 400,
                        defaultDate: new Date(),
                        timeFormat: 'h(:mm)a',
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,basicWeek,basicDay,agenda'
                        },
                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,
                        eventClick: function (calEvent, jsEvent, view) {
                            $('#myModal #eventTitle').text(calEvent.title);
                            var $description = $('<div/>');
                            $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                            if (calEvent.end != null) {
                                $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                            }
                            $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                            $('#myModal #pDetails').empty().html($description);

                            $('#myModal').modal();
                        }
                    })
                }
            })
        </script>

    }
</div>
=======
﻿@model ReservationUserViewModel
@{
    ViewData["Title"] = "UserHome";
}

@*Somehow build something that shows the users pending invites for now*@

    
    
    <img class="user-page-img" style="width: 100% ; margin-top: -45% ;margin-bottom:20% ;margin-top: 1%" src="~/images/userhomeimg (1).png" /> <br /><br />

<div class="wholeuserhome" style="background-color: rgba(157,177,210,5) ; margin-top: -43%">


    <br /><br />
    <div class="container" style="padding-left:18%">
        <div class="row" style="">
            
            <div class="col-sm-4" style="margin-right:25% ;margin-left:-5%">
                <h2 class="PendingInvitesUserPage"><img class="" style="margin:auto; width:50%;" src="~/images/PENDING INVITES.png" /></h2><br />
                @foreach (Reservation pending in Model.Pending)
                { /*Send them to the "details" page of this playdate so they can either accept or decline it....*/
                    <div class="card" style="margin:auto; width:50%;">
                        <p><a asp-action="PendingReservation" asp-controller="Reservation" asp-route-id="@pending.ReservationId" > @pending.Description</a></p>
                        <p>@pending.Address</p>
                        <p>@pending.StartTime</p>
                    </div>
                    
                }


            </div>
            
            <div class="col-sm-4"style="">
                <h2 class="AcceptedInvitesUserPage"><img class="" style="margin:auto; width:50%;" src="~/images/accepted invites.png" /></h2><br />
                @foreach (Reservation accepted in Model.Accepted)
                {
                    <div class="card">
                        <p><a asp-action="AcceptedReservation" asp-controller="Reservation" asp-route-id="@accepted.ReservationId">@accepted.Description</a></p>
                        <p>@accepted.Address</p>
                        <p>@accepted.StartTime</p>
                    </div>
                    <br />
                }

            </div>

        </div>
    </div>

    <h3 class="titleforpets">Your Pets:</h3><br />

    <div class="all">
        <div class="container">
            <div class="row">

                @foreach (Pets pet in Model.Pets)
                {
                    <div class="col-sm-3" style="padding-left: 50px">
                        <div class="card">
                            <div class="userhomebanner">
                                <div class="userhomeavatar" style="background-image: url(@pet.Photo)"></div>
                            </div>
                            <h3 class="userhomepetname">@pet.Name</h3>
                            <a class="userhomepetinfo"> Age: @pet.Age</a>
                            <a class="userhomepetinfo"> Weight: @pet.Weight</a>
                            <a class="userhomepetinfo"> Type: @pet.Type</a>
                            <a class="userhomepetinfo"> Breed: @pet.Breed</a>
                            <a class="userhomepetinfo"> personality: @pet.Personality</a>

                            <ul class="userhomepetrating">
                                button for whatever
                            </ul>
                        </div>
                        <br />
                    </div>
                }
            </div>
        </div>
    </div>



</div>
>>>>>>> 2d2117480db8baebaf1994e1a1060d26fe2c9253
