@model ReservationUserViewModel
@{
    ViewData["Title"] = "UserHome";
}

@*Somehow build something that shows the users pending invites for now*@




<h1 class="welcomeback">Welcome Back @Model.User.Username</h1>
<h3 class="titleforpets">Your Pets:</h3>

<div>
    @foreach (Reservation pending in Model.Pending)
    {
        /*Send them to the "details" page of this playdate so they can either accept or decline it....*/
        <p>Pending: <a asp-action="PendingReservation" asp-controller="Reservation" asp-route-id="@pending.ReservationId"> @pending.Description</a></p>
    }


</div>


<div>

    @foreach (Reservation accepted in Model.Accepted)
    {
        <p>Accepted: <a asp-action="AcceptedReservation" asp-controller="Reservation" asp-route-id="@accepted.ReservationId">@accepted.Description</a></p>
    }

</div>


<div class="all">
   
        @foreach (Pets pet in Model.Pets)
        {

            <div class="card">
                <div class="userhomebanner">
                    <div class="userhomeavatar" style="background-image: url(@pet.Photo)"></div>
                </div>
                <h3 class="userhomepetname">@pet.Name</h3>
                <a class="userhomepetinfo"> Age: @pet.Age</a>
                <a class="userhomepetinfo"> Weight: @pet.Weight</a>
                <a class="userhomepetinfo"> Type: @pet.Type</a>
                <a class="userhomepetinfo"> Breed: @pet.Breed</a>
                <a class="userhomepetinfo"> personality: @pet.Personality</a>

                <ul class="userhomepetrating">
                    button for whatever
                </ul>
            </div>
            <br />

        }
   
</div>




