@model ReservationUserViewModel
@{
    ViewData["Title"] = "UserHome";
}

@*Somehow build something that shows the users pending invites for now*@
<div class="curve">
    <br /><br />
    <h1 class="welcomeback" style="">Welcome Back!</h1>
</div>
<div class="wholeuserhome" style="background-color: rgba(217,174,134, 5)">

    
    <br /><br />
    <div class="container" style="padding-left:25%">
        <div class="row">


            @foreach (Reservation pending in Model.Pending)
            { /*Send them to the "details" page of this playdate so they can either accept or decline it....*/
                <div class="col-sm-4">
                    <p>Pending: <a asp-action="PendingReservation" asp-controller="Reservation" asp-route-id="@pending.ReservationId"> @pending.Description</a></p>
                </div>
            }

            @foreach (Reservation accepted in Model.Accepted)
            {
                <div class="col-sm-4">
                    <p>Accepted: <a asp-action="AcceptedReservation" asp-controller="Reservation" asp-route-id="@accepted.ReservationId">@accepted.Description</a></p>
                </div>
            }

        </div>

    </div>

    <h3 class="titleforpets">Your Pets:</h3><br />

    <div class="all">
        <div class="container">
            <div class="row">

                @foreach (Pets pet in Model.Pets)
                {
                    <div class="col-sm-3" style="padding-left: 50px">
                        <div class="card">
                            <div class="userhomebanner">
                                <div class="userhomeavatar" style="background-image: url(@pet.Photo)"></div>
                            </div>
                            <h3 class="userhomepetname">@pet.Name</h3>
                            <a class="userhomepetinfo"> Age: @pet.Age</a>
                            <a class="userhomepetinfo"> Weight: @pet.Weight</a>
                            <a class="userhomepetinfo"> Type: @pet.Type</a>
                            <a class="userhomepetinfo"> Breed: @pet.Breed</a>
                            <a class="userhomepetinfo"> personality: @pet.Personality</a>

                            <ul class="userhomepetrating">
                                button for whatever
                            </ul>
                        </div>
                        <br />
                    </div>
                }
            </div>
        </div>
    </div>



</div>
