@model ForumPost
@{
    ViewData["Title"] = "PostDetails";
}
<a asp-action="Index" asp-controller="Forum" class="go-back-button">Back to the Forum!</a>

<h2 style="text-align: center"><b>PostDetails</b></h2>


<div class="InvitationCards">
    <div class="inviteItem">
        <strong>User:</strong> @Model.User
    </div>
    <div class="inviteItem">
        <strong>Date Posted:</strong> @Model.Post_Date
    </div>

    <div class="inviteItem">
        <strong>Subject:</strong> @Model.Subject
    </div>
    <div class="inviteItem">
        <strong>Message:</strong> @Model.Message
    </div>
</div>

<div class="InvitationCards" style="background-color: aquamarine">
    @foreach (ForumPostComments comment in Model.Comments)
    {
        <div class="inviteItem">
            <strong>User: </strong>@comment.User
        </div>
        <div class="inviteItem">
            <strong>Comment: </strong>@comment.Message
        </div>
    }
</div>



<div style="text-align: center">
    <div style="display: inline-block">
        <a asp-controller="Forum" asp-action="AddComment" asp-route-id="@Model.Id" class="inviteChoices">Add Comment</a>
    </div>
</div>
