@model ReservationUserViewModel
@{
    ViewData["Title"] = "PendingReservation";
}

<h2>PendingReservation</h2>
<img src="~/images/banner-pets-dog-cat-boarding.png" />
<div>
  Event: @Model.Reservation.Description
</div>
<div>
  Location: @Model.Reservation.Address
</div>
<div>
  Start Time: @Model.Reservation.StartTime
</div>
<div>
   End Time:  @Model.Reservation.EndTime
</div>
<div>
    Pet Coming With Me: @Model.Reservation.PetName
</div>
<form asp-action="AcceptReservation" asp-controller="Reservation" method="post">
    <div>
        <input type="hidden" name="ReservationId" asp-for="@Model.Reservation.ReservationId" />
        <input type="hidden" name="UserId" asp-for="@Model.User.Id" />
        <input id="accept" type="submit" value="Accept" class="btn btn-default" />
    </div>
</form>
<form asp-action="DeclineReservation" asp-controller="Reservation" method="post">
    <div>
        <input type="hidden" name="ReservationId" asp-for="@Model.Reservation.ReservationId" />
        <input type="hidden" name="UserId" asp-for="@Model.User.Id" />
        <input id="decline" type="submit" value="Decline" class="btn btn-default" />
    </div>
</form>







