@model ReservationUserViewModel
@{
    ViewData["Title"] = "PendingReservation";
}

<h2>PendingReservation</h2>

<div>
  Event: @Model.Reservation.Description
</div>
<div>
  Location: @Model.Reservation.Address
</div>
<div>
  Start Time: @Model.Reservation.StartTime
</div>
<div>
   End Time:  @Model.Reservation.EndTime
</div>
<div>
    Pet Coming With Me: @Model.Reservation.PetName
</div>

